name: Build new version of LIVE555 Proxy Server

on:
  push:
    tags:
      - "*"

jobs:
  build-image-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get version
        id: get-version
        run: echo "::set-output name=version::`echo ${{ github.ref }} | grep -Eo -m1 '[[:digit:]]{4}\.[[:digit:]]{2}\.[[:digit:]]{2}[[:alpha:]]?$' -`"
      - name: Set up QEMU
        id: qemu
        if: ${{ steps.get-version.outputs.version }}
        uses: docker/setup-qemu-action@v1
        with:
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7
      - name: Setup Docker Buildx
        if: ${{ steps.get-version.outputs.version }}
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        if: ${{ steps.get-version.outputs.version }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        if: ${{ steps.get-version.outputs.version }}
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: ${{ steps.qemu.outputs.platforms }}
          push: true
          tags: |
           paradisi/live555-proxy-server:latest
           paradisi/live555-proxy-server:${{ steps.get-version.outputs.version }}
